@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-fade-in-color {
  animation: fade-in 3s ease-out;
  color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
    color: #eee;
  }
  to {
    opacity: 1;
    color: black;
  }
}
